@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  
}

.dark_map {
    background-color: #04041b;
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%)
  }

.dark_tools {
  color:var(--ol-background-color);
  background: var(--ol-subtle-foreground-color);
}

.light_tools{
  background: var(--ol-background-color);
  color:var(--ol-subtle-foreground-color);
}

#locate_button {
  top: 3.5rem;
  left: 0.55rem;
  border-radius: 4px;
  height: 2.42rem;
  width: 1.44rem;
  background-color: var(--ol-subtle-background-color);
}

#locate:hover {
  border-color:gray;
}

#draw_button:hover {
  border-color:gray;
}

#draw_button{
  position:fixed;
  left: 0.63rem;
  top: 4.8rem;
  font-size: 8.5px;
  border:none;
  z-index: 1;
  border: 1px solid transparent;
  background-color: white;
  border-radius: 0.2rem;
  padding-bottom: 0.2rem;
}

#locate {
  position: fixed;
  top: 3.5rem;
  left: 0.54rem;
  font-size: 10px;
  margin: 1px;
  color: var(--ol-subtle-foreground-color);
  background-color: white;
  border:1px solid transparent;
  z-index: 1;
  border-radius: 0.2rem;
  padding-bottom: 0.2rem;
}

#tools {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

#tools a {
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
}


.menu {
  top: 0;
  bottom: 0;
  z-index: 10;
}

#theme {
  color:fuchsia;
  text-align: center;
  font-size: 50px;
}